.div-timer{
	/*display: flex;*/
  	text-align: center;
  	p,.r-select,button{
  		display: block;
  		margin: 1rem auto;
  	}
  	.lbl-timer{
  		border:2px;
  		margin: 2rem auto;
  		border-style: inset;
  		padding: 1rem; 
  		width: 20rem;
  		border-radius: 1rem;
  	}
}
.tbl-container{
  overflow-y:auto;
  width:100%;
}