.err-msg{
	padding: 1em;
	background-color:#ff4d4d;
	color: #ffffff;
	border-radius:5px;
	text-align:center;
}
.succ-msg{
	padding: 1em;
	background-color:#669900;
	color: #ffffff;
	border-radius:5px;
	text-align:center;
}